<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Rank Card - {{ username }}</title>
        <meta name="description" content="The rank card for {{ username }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/rank-card.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="main-background" style="--background: url('{{ background }}')">
            <div class="profile-picture">
                <img src="{{ profile_picture }}" alt="{{ username }}'s profile picture">
            </div>
            <div class="status" style="--status: {{ status }}"></div>
            <div class="name-label">
                <p class="name">{{ username }}</p>
            </div>
            <div class="ranking-label">
                <p class="ranking-title">RANK</p>
                <p class="ranking-number">#{{ rank }}</p>
                <p class="ranking-title">LEVEL</p>
                <p class="ranking-number">{{ level }}</p>
            </div>
            <div class="experience-label">
            </div>
            <p class="levelup {{ levelup }}">Level Up!</p>
            <div class="experience-text-holder">
                <p class="exp-amt">{{ exp }}</p>
                <p class="exp-total">/ {{ exp_to_level }} Experience</p>
            </div>
            <div class="exp-bar">
                <div class="exp-bar-fill {{ blur_class }}" style="width: {{ exp_percent }}%; background: {{ dominant_color }}"></div>
            </div>
        </div>
    </body>
</html>