[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
"guilded.py" = "*"
gunicorn = "*"
flask = {extras = ["async"], version = "*"}
flask-sqlalchemy = "*"
flask-migrate = "*"
coverage = "*"
cryptography = "*"
pyjwt = "*"
pymysql = "*"
sqlalchemy-json = "*"
requests = "*"
humanfriendly = "*"
python-dateutil = "*"
flask-cors = "*"
nsfw-detector = "*"
joblib = "*"
numpy = "*"
python-levenshtein = "*"
better-profanity = "*"
pycryptodome = "*"
protobuf = "<3.21"
tensorflow = "*"
unidecode = "*"
geoip2 = "*"
user-agents = "*"
beautifulsoup4 = "*"
levenshtein = "*"
feedparser = "*"
markdownify = "*"
psutil = "*"
lxml = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
