[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
"guilded.py" = {git = "https://github.com/shayypy/guilded.py.git"}
gunicorn = "*"
flask = {extras = ["async"], version = "*"}
flask-sqlalchemy = "*"
flask-migrate = "*"
coverage = "*"
cryptography = "*"
pyjwt = "*"
pymysql = "*"
sqlalchemy-json = "*"
requests = "*"
humanfriendly = "*"
python-dateutil = "*"
flask-cors = "*"
nsfw-detector = "*"
joblib = "*"
numpy = "*"
sklearn = "*"
python-levenshtein = "*"
better-profanity = "*"
pycryptodome = "*"
protobuf = "<=3.20"
tensorflow = "*"
unidecode = "*"

[dev-packages]

[requires]
python_version = "3.10"
