[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
"guilded.py" = "*"
gunicorn = "*"
flask = {extras = ["async"], version = "*"}
flask-sqlalchemy = "*"
flask-migrate = "*"
coverage = "*"
cryptography = "*"
pyjwt = "*"
pymysql = "*"
sqlalchemy-json = "*"
requests = "*"
humanfriendly = "*"
python-dateutil = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"
